.header{
    position:relative;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: brown;
}

.header__img{
    max-width: 350px;
    margin-left: 10px;
}
.header__balck{
    position:absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: black;
}

.header__circle{
    position: absolute;
    width: 70px;
    aspect-ratio: 1;
    background-color: white;
    border: 9px solid black;
    border-radius: 50%;
    bottom: 0px;
    right: 10px;
    transform: translateX(-50%);
}

.header__circle-int{
    position: absolute;
    width: 35px;
    aspect-ratio: 1;
    background-color: rgb(45, 45, 45);
    border: 6px solid black;
    border-radius: 50%;
    bottom: 7.75px;
    left: 50%;
    transform: translateX(-50%);
}
