.home__form{
display: flex;
align-items: center;
flex-wrap:wrap ;
justify-content: center;
}


.home__input{
    border: none;
    box-shadow: -1px 2px 5px rgb(117, 117, 117);
    padding: 8px 12px;
}

.home__btn{
border: none;
padding: 9px 12px;
background-color: red;
color: white;
cursor: pointer;
}

.home__btn:hover{
    filter:brightness(1.1)
}

